<template>
  <v-layout align-center justify-center mt-5>
    <v-flex xs12 sm8 md4>
      <v-card class="elevation-12">
        <v-toolbar dark color="primary lighten-1">
          <v-toolbar-title class="flex text-xs-center">Login</v-toolbar-title>
        </v-toolbar>
        <v-card-text>
          <v-form
            class="border border-primary p-5 bg-light "
            style="height:auto;padding-top:50px !important; opacity: 0.8;"
            @submit.stop.prevent="loginUser"
          >
            <v-text-field
              prepend-icon="person"
              name="login"
              label="Login"
              id="login"
              type="text"
              v-model="login.username"
            ></v-text-field>
            <v-text-field
              v-model="login.password"
              prepend-icon="lock"
              name="password"
              label="Password"
              id="password"
              type="password"
            ></v-text-field>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn dark color="green lighten-1" @click="userLogin">Login</v-btn>
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import userService from '../service/users'

export default {
  data () {
    return {
      studentList: [],
      login: {
        username: '',
        password: ''
      }
    }
  },
  methods: {
    loginFail () {
      console.log('loginfail')
      this.$bvModal.show('bv-modal-logFail')
    },
    loginUser () {
      userService
        .login(this.login.username, this.login.password)
        .then(users => {
          users = users.data
          if (users.length === 0) {
            this.loginFail()
          } else {
            const user = {
              _id: users[0]._id,
              studentId: users[0].studentId,
              firstname: users[0].firstname,
              lastname: users[0].lastname,
              type: users[0].type
            }
            localStorage.setItem('user', JSON.stringify(user))
            this.$bus.$emit('logged', 'User logged')
            if (users[0].type === 'admin') {
              this.$router.push('/aboutCooperative')
            } else {
              this.$router.push('/myProfile')
            }
          }
          this.resetModal()
        })
    },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    resetModal () {
      this.login.username = null
      this.login.password = null
    },
    handleSubmit () {
      // Exit when the form isn't valid

      if (!this.checkFormValidity()) {
        return
      }
      this.hideModal()
      this.resetModal()
    }
  },
  computed: {},
  mounted () {}
}
</script>
