<template>
  <v-app>
    <!-- <Toolbar /> -->
    <div>
      <v-app-bar color="primary lighten-1">
        <v-toolbar-title class="white--text">
          Vuetify
        </v-toolbar-title>
        <v-spacer></v-spacer>
        <v-toolbar-items>
          <v-btn color="white" text to="/">
            HOME
          </v-btn>
          <v-btn color="white" text to="/about">
            ABOUT
          </v-btn>
          <v-btn color="white" text to="/login">
            LOGIN
          </v-btn>
        </v-toolbar-items>

        <!-- <v-menu left bottom>
          <template v-slot:activator="{ on, attrs }">
            <v-btn icon v-bind="attrs" v-on="on">
              <v-icon>mdi-dots-vertical</v-icon>
            </v-btn>
          </template>
          <v-list>
            <v-list-item v-for="n in 5" :key="n" @click="() => {}">
              <v-list-item-title>Option {{ n }}</v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu> -->
      </v-app-bar>
    </div>
    <!-- main -->
    <v-main class="text-center">
      <!-- <loading /> -->
      <v-container fluid>
        <transition name="fade" mode="out-in">
          <router-view />
        </transition>
      </v-container>
    </v-main>
    <!-- <footer /> -->
    <v-footer color="primary lighten-1" padless>
      <v-row justify="center" no-gutters>
        <v-btn color="white" text rounded class="my-2" to="/">
          Home
        </v-btn>
        <v-btn color="white" text rounded class="my-2" to="/service">
          Service
        </v-btn>
        <v-btn color="white" text rounded class="my-2" to="/service">
          Contact Us
        </v-btn>
        <v-col class="primary lighten-2 py-4 text-center white--text" cols="12">
          {{ new Date().getFullYear() }} — <strong>Vuetify</strong>
        </v-col>
      </v-row>
    </v-footer>
  </v-app>
</template>

<script>
//import Loading from '@/components/core/Loading.vue'

export default {
  name: 'App',

  data: () => ({}),
  components: {
    // Loading
  }
}
</script>
